.paragrafo h1{
    text-align: center;
    margin-top: 30px;
}
.paragrafo p{
    text-align: center;
}
.pulsanti-inserimento{
    text-align: center;
}
.pulsanti-inserimento input{
    padding: 5px;
    margin-top: 10px;
    border-radius: 15px;
}

.bottone-superiore-dx{
    margin-top: 60px;
    width: 20%;
    margin-left: 200px;
    outline: none;  
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    color:white;
    text-align:center;
    background:orangered;
    box-shadow: 3px 3px 8px #b1b1b1,
      -3px -3px 8px #ffffff;
    transition: 0.5s;
    padding: 10px;
  }
  .bottone-superiore-dx:hover{
    background-color: white;
    color: orangered;
  }
  .bottone-superiore-sx:hover{
    background-color: orangered;
    color: white;
  }
  .bottone-superiore-dx:active{
    background-color: white;
    color: orangered;
  }
  .bottone-superiore-sx:active{
    background-color: orangered;
    color: white;
  }
  .bottone-superiore-sx{
      margin-top: 60px;
    width: 20%;
    margin-right: 200px;
    
   float: right;
    outline: none;  
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    color:orangered;
    text-align:center;
    background:white;
    box-shadow: 3px 3px 8px #b1b1b1,
      -3px -3px 8px #ffffff;
    transition: 0.5s;
    padding: 10px;
  }
  .checkbox {
      text-align: center;
      padding: 5px;
      margin-top: 10px;
  }
  .bottone-inferiore{
 margin-top: 30px;
  width: 20%;
  margin-right: 50px;
  margin-left: 330px;
  outline: none;  
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  color:white;
  text-align:center;
  background:orangered;
  box-shadow: 3px 3px 8px #b1b1b1,
    -3px -3px 8px #ffffff;
  transition: 0.5s;
  padding: 10px;
}
.bottone-inferiore:active{
    background-color: white;
    color: orangered;
  }
.bottone-inferiore:hover{
    background-color: white;
    color: orangered;
 }
 img{
   display: inline;
   margin-top: 125px;
 }
 .tipologia{
   margin-top: 25px;
   width: 180px;
   height: 35px;
   border-radius: 20px;
   
 }