#NavBarLogo{
    padding-left: 20px;
}

.nav-link{
    font-size: medium;
    padding-right: 30px!important;
}

.icon{
    width: 50px;
    height: 50px;
    color:red;
    margin-right: 30px!important;
}
.btn{
    color:white;
    background-color: red;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
  }
  
  .searchTerm:focus {
    color: #00b4cc;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap {
    width: 30%;
  }
  .inserimento input {
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
  }
  .intestazione button{
    float: right;
  }
    .intestazione h1{
    margin: auto;
    margin-bottom: 10px;
    
  }
  .inserimento div {
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
  }
  .inserimento div {
    text-align: left;
    margin-left: 50px;
  }
  .pulsanti button {
    border-radius: 15px;
    font-size: 18px;
    background-color: orangered;
    border-color: orangered;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 10px;
    width: 120px;
    margin-top: 15px;
  }
  .inserimento figure img {
    height: 245px;
    margin-top: 10px;
    float:left;
  }
  .pulsanti footer {
    text-align:center;
  }
  .inserimento form {
    text-align: left;
  }
  .background {
    border-color: orangered 5px solid;
  }
  .pulsanti footer button a {
    text-decoration: none;
    color: white;
    
  }
  .modal-content{
    z-index: index 5;
    border: 2px black solid;
    width: 600px;
    margin-left:0%;
    
  }
  #pulsantecambiopassword{
    border-radius: 15px;
    font-size: 18px;
    background-color: orangered;
    border-color: orangered;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 10px;
    width: 120px;
    margin-top: 15px;
  }
  .pulsanti-inserimento input{
    padding: 5px;
    margin-top: 10px;
    border-radius: 15px;
  }
